.modal-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
    height: 100%;
    width: 100%;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 35vw;
    max-width: 90%;
    min-height: 15vh;

    /* position: relative; */
}

.title{
    font-size: 25px;
}

